@model ProjectModel.DomainClasses.proj_infoViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <table class="class">
        <caption></caption>
        <tr>
            <td>Project Name:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._proj_name)
                @Html.ValidationMessageFor(model => model._proj_name)
            </td>
        </tr>
        <tr>
            <td>Manager Full Name:
            </td>
            <td class="alt">
                @Html.DropDownListFor(model => model._proj_mgr_id, Model.managerFullNameItems, new { @class = "dropdownButton" })
                @Html.ValidationMessageFor(model => model._proj_mgr_id)
            </td>
        </tr>
        <tr>
            <td>Sponsor Full Name:
            </td>
            <td class="alt">
                @Html.DropDownListFor(model => model._proj_sponsor_id, Model.sponsorFullNameItems, new { @class = "dropdownButton" })
                @Html.ValidationMessageFor(model => model._proj_sponsor_id)
            </td>
        </tr>
        <tr>
            <td>Charter Approved:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._charter)
                @Html.ValidationMessageFor(model => model._charter)
            </td>
        </tr>
        <tr>
            <td>Scope:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._scope_definition)
                @Html.ValidationMessageFor(model => model._scope_definition)
            </td>
        </tr>
        <tr>
            <td>Department:
            </td>
            <td class="alt">
                @Html.DropDownListFor(model => model._dept_id, Model.deptItems, new { @class = "dropdownButton" })
                @Html.ValidationMessageFor(model => model._dept_id)
            </td>
        </tr>
        <tr>
            <td>Client:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._client)
                @Html.ValidationMessageFor(model => model._client)
            </td>
        </tr>
        <tr>
            <td>Start Date:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._proj_start_date)
                @Html.ValidationMessageFor(model => model._proj_start_date)
            </td>
        </tr>
        <tr>
            <td>Ending Date:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._proj_end_date)
                @Html.ValidationMessageFor(model => model._proj_end_date)
            </td>
        </tr>
        <tr>
            <td>Status:
            </td>
            <td class="alt">
                @Html.DropDownListFor(model => model._proj_status_id, Model.statusItems, new { @class = "dropdownButton" })
                @Html.ValidationMessageFor(model => model._proj_status_id)
            </td>
        </tr>
        <tr>
            <td>Type of Project:
            </td>
            <td class="alt">
                @Html.DropDownListFor(model => model.proj_type_id, Model.projectTypeItems, new { @class = "dropdownButton" })
                @Html.ValidationMessageFor(model => model.proj_type_id)
            </td>
        </tr>
        <tr>
            <td>Created By:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._createdby)
                @Html.ValidationMessageFor(model => model._createdby)
            </td>
        </tr>
        <tr>
            <td>Created Date:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._createddate)
                @Html.ValidationMessageFor(model => model._createddate)
            </td>
        </tr>
        <tr>
            <td>Notes:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._notes)
                @Html.ValidationMessageFor(model => model._notes)
            </td>
        </tr>
        <tr>
            <td>Project Goal:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._proj_goal)
                @Html.ValidationMessageFor(model => model._proj_goal)
            </td>
        </tr>
        <tr>
            <td>Location of PM Documents:
            </td>
            <td class="alt">
                @Html.EditorFor(model => model._doc_location)
                @Html.ValidationMessageFor(model => model._doc_location)
            </td>
        </tr>

        <tr style="text-align: center">
            <td class="alt">
                <input type="submit" value="Create" id="sbmCreate"/>&nbsp;&nbsp;
            </td>
            <td class="alt">
                <input type="button" value="Cancel" id="btncancelProject" />
            </td>
        </tr>
    </table>
}

